<div style="display: flex;">
  <div style="flex: 1">
    <p-button label="Home" icon="pi pi-home" styleClass="p-button-warning"
    (onClick)="activarHome()"></p-button>
  </div>
  <div style="flex: 1;">
    <p-button label="Gráficos Tipo Torta" icon="pi pi-chart-pie" styleClass="p-button-secondary"
    (onClick)="activarTorta()"></p-button>
  </div>
  <div style="flex: 1">
    <p-button label="Gráficos Tipo Barras" icon="pi pi-chart-bar" styleClass="p-button-secondary"
    (onClick)="activarBarras()"></p-button>
  </div>
  <div style="flex: 1">
    <p-button label="Graficos Tipo Función" icon="pi pi-chart-line" styleClass="p-button-secondary"
    (onClick)="activarFunciones()"></p-button>
  </div>
</div>
