<div *ngIf="mostrarFunciones" style="text-align: center;">
  <div>
    <p-chart type="line" [data]="data" [options]="options"
    (click)="handleDataSelect($event)"></p-chart>
  </div>
  <div style="margin-bottom: 20px; text-align: center; margin-top: 20px;" class="titulosGraficas">
    MEDIDAS ESTADISTICAS POR AÑOS
  </div>
    <div style="margin-top: 30px;margin-left: 20%;">
      <p-table [value]="estadistica" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Año</th>
                <th>Promedio</th>
                <th>Denuncias Mes Mayor</th>
                <th>Mes Mayor Denuncias</th>
                <th>Mediana</th>
                <th>Desviación Estándar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estadistica>
            <tr>
                <td>{{ estadistica.agno }}</td>
                <td>{{ estadistica.promedio_denuncias_mes }}</td>
                <td>{{ estadistica.cantidad_denuncias_mes_mayor }}</td>
                <td>{{ estadistica.mes_mas_denuncias }}</td>
                <td>{{ estadistica.mediana_denuncias }}</td>
                <td>{{ estadistica.desviacion_estandar }}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>

