<div *ngIf="mostrarHome" class="container">
    <div>
        <input type="text" pInputText [(ngModel)]="ruta" />
        <p-button label="Enviar Ruta" icon="pi pi-check" (onClick)="enviarRuta()"></p-button>
    </div>
    <div *ngIf="mostrarForm" style="display: flex; margin-top: 3%;">
        <div style="flex:1">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="anioGenerar" />
                <label htmlFor="username">Año de Generacion</label>
            </span>
        </div>
        <div style="flex:1">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="mesGenerar" />
                <label htmlFor="username">Mes de Generacion</label>
            </span>
        </div>
        <div style="flex:1">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="nacionalidad" />
                <label htmlFor="username">Departamento</label>
            </span>
        </div>
        <div style="flex:1">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="cantidad" />
                <label htmlFor="username">Cantidad de Registros</label>
            </span>
        </div>
    </div>
    <div *ngIf="mostrarForm" style="margin-top: 1%;">
        <p-button label="Solicitar Data" icon="pi pi-check" 
        styleClass="p-button-success" (onClick)="solicitarTabla()"></p-button>
    </div>
    <div *ngIf="mostrarTabla" style="margin-top: 2%;">
        <p-table [value]="migraciones" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>DEPARTAMENTO</th>
                    <th>MUNICIPIO</th>
                    <th>ARMAS MEDIOS</th>
                    <th>GENERO</th>
                    <th>GRUPO ETARIO</th>
                    <th>DELITO</th>
                    <th>DIA</th>
                    <th>MES</th>
                    <th>AÑO</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-migracion>
                <tr>
                    <td>{{ migracion.DEPARTAMENTO }}</td>
                    <td>{{ migracion.MUNICIPIO }}</td>
                    <td>{{ migracion.ARMAS_MEDIOS }}</td>
                    <td>{{ migracion.GENERO }}</td>
                    <td>{{ migracion.GRUPO_ETARIO }}</td>
                    <td>{{ migracion.DELITO }}</td>
                    <td>{{ migracion.DIA }}</td>
                    <td>{{ migracion.MES }}</td>
                    <td>{{ migracion.ANIO }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>