<div *ngIf="mostrarPie" style="width: 80%; display: flex; margin-left: 10%; margin-top: 5%;">
  <div style="flex:1;text-align: left;">
    <div style="margin-bottom: 20px; text-align: center;" class="titulosGraficas">
      Ingreso de Personas por año
    </div>
    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    <div style="display: flex; margin-top: 20px;">
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Desde
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioInicial" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Hasta
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioFinal" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <p-button label="Generar" styleClass="p-button-success" (onClick)="filtrarPersonasXanio()"></p-button>
    </div>
  </div>
  <div style="flex:1;text-align: left;">
    <div style="margin-bottom: 20px; text-align: center;" class="titulosGraficas">
      Proporción Hombres - Mujeres
    </div>
    <p-chart type="doughnut" [data]="dataDon" [options]="optDon"></p-chart>
    <div style="display: flex; margin-top: 20px;">
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Desde
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioInicialHm" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Hasta
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioFinalHm" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <p-button label="Generar" styleClass="p-button-success" (onClick)="proporcionHmXanios()"></p-button>
    </div>
  </div>
  <div style="flex:1;text-align: left;">
    <div style="margin-bottom: 20px; text-align: center;" class="titulosGraficas">
      Migración por Trimestres
    </div>
    <p-chart type="polarArea" [data]="dataPolar" [options]="optPolar"></p-chart>
    <div style="display: flex; margin-top: 20px;">
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Desde
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioInicialPolar" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div style="flex:1;text-align: center;">
        <div style="margin-bottom: 10px;" class="subtitulos">
          Hasta
        </div>
        <p-dropdown [options]="opciones" [(ngModel)]="anioFinalPolar" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <p-button label="Generar" styleClass="p-button-success" (onClick)="migracionXtrim()"></p-button>
    </div>
  </div>
</div>
