<div *ngIf="mostrarBarras">
  <div class="card">
    <div style="margin-top:20px; display: flex;">
      <div style="width: 90%;">
        <p-chart type="bar" [data]="data" [options]="options"></p-chart>
      </div>
      <div style="width: 10%; margin-top: 30px;">
        <p-button label="Top 20" styleClass="p-button-rounded p-button-help"
        (onClick)="barrasHorizontales(20)"></p-button>
        <br><br>
        <p-button label="Top 15" styleClass="p-button-rounded p-button-help"
        (onClick)="barrasHorizontales(15)"></p-button>
        <br><br>
        <p-button label="Top 10" styleClass="p-button-rounded p-button-help"
        (onClick)="barrasHorizontales(10)"></p-button>
        <br><br>
        <p-button label="Top 5" styleClass="p-button-rounded p-button-help"
        (onClick)="barrasHorizontales(5)"></p-button>
        <br><br>
        <p-button label="Top 1" styleClass="p-button-rounded p-button-help"
        (onClick)="barrasHorizontales(1)"></p-button>
        <br><br>
      </div>
    </div>
    <p-chart type="bar" [data]="data1" [options]="options1"></p-chart>
  </div>
</div>